html,
body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: rem(760);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: 400;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

a,
a:visited {
    text-decoration: none;
    color: #333;
    -moz-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

input {
    border: none;
    outline: none;
    background: transparent;
}

button {
    border: none;
    outline: none;
}

.fixed {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 760px;
}

/**
绝对定位垂直居中
 */

.position-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/**
单行文字省略
 */

.text-single-hidden {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.display-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.text-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}